body {
    font-family: "Roboto",sans-serif;
    background: url(/images/dark-daylight-eerie-1165982.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #fafafa;
    color: #181818;
}

.header-title {
    font-weight: normal;
    text-align: center;
    padding: 5px;
    margin: 0;
    /* color: #751636; */
    border-bottom: 1px solid #bfbfbf;
}

#cards-dealt {
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
     justify-content: center;

    grid-template-columns: repeat(5, 200px);
    /* grid-template-columns: repeat( auto-fit, minmax(180px, 1fr)); */
    /* grid-auto-columns: 100px; */
     grid-auto-rows: 400px;
    /* grid-template-columns: repeat(5, 180px); */
}

.item-div {
    grid-column: auto;
    grid-column-gap: 5px;
    /* width:180px; */
    border-radius: 8px;
    background-color: white;
    box-shadow: 2px 2px 6px 0 rgba(123, 123, 123, 0.2);
    margin: 10px;
    padding: 0;
    height: auto; /* makes sure all the image is displayed */
}

.item-div:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.item-location {
    padding:5px;
}

.delete-btn {
  width: 30px;
  height: 30px;
  background: url(../images/delete.png);
  background-size: 30px;
}

button.delete-btn {
    border: none;
    padding: 0;
    border-radius: 5px;
}

.item-image {
    margin: 20px auto; /* puts image in middle horizontally */
    display: block;
    max-height: 180px;
    max-width: 180px;
}
